[Desktop Entry]
Name = PushBullet-Indicator
GenericName = PushBullet-Indicator
Comment = An indicator for working with pushbullet
Exec = /opt/extras.ubuntu.com/pushbullet-indicator/bin/pushbullet-indicator
Icon = /opt/extras.ubuntu.com/pushbullet-indicator/share/pushbullet-indicator/icons/pushbullet-indicator.svg
Type = Application
Terminal = false
StartupNotify = true
Encoding = UTF-8
Categories = Utility;
X-Ubuntu-Gettext-Domain = pushbullet-indicator
Name[zh_TW] = PushBullet 指示器
Name[bg] = PushBullet-Indicator
Name[es] = PushBullet-Indicator
Name[pt_BR] = Indicador PushBullet
Name[ca] = PushBullet-Indicator
Name[pl] = Wskaźnik PushBullet
Name[fi] = PushBullet-ilmaisin
Name[fr] = Indicateur-PushBullet
Name[ru] = PushBullet-Indicator
Name[it] = PushBullet-Indicator
Name[nb] = PushBullet-Indicator
Name[zh_CN] = PushBullet-Indicator
Name[de] = PushBullet-Indikator
Name[ro] = PushBullet-Indicator
GenericName[zh_TW] = PushBullet 指示器
GenericName[bg] = PushBullet-Indicator
GenericName[es] = PushBullet-Indicator
GenericName[pt_BR] = Indicador PushBullet
GenericName[ca] = PushBullet-Indicator
GenericName[pl] = Wskaźnik PushBullet
GenericName[fi] = PushBullet-ilmaisin
GenericName[fr] = Indicateur-PushBullet
GenericName[ru] = PushBullet-Indicator
GenericName[it] = PushBullet-Indicator
GenericName[nb] = PushBullet-Indicator
GenericName[zh_CN] = PushBullet-Indicator
GenericName[de] = PushBullet-Indikator
GenericName[ro] = PushBullet-Indicator
Comment[zh_TW] = 給PushBullet用的指示器
Comment[bg] = Индикатор за работа с pushbullet
Comment[es] = Un indicador para trabajar con PushBullet
Comment[pt_BR] = Um indicador para trabalhar com PushBullet
Comment[ca] = Un indicador per al PushBullet
Comment[pl] = Wskaźnik działający z PushBullet
Comment[fi] = An indicator for working with pushbullet
Comment[fr] = Un indicateur qui fonctionne avec pushbullet
Comment[ru] = Индикатор для работы с pushbullet
Comment[it] = Un indicatore per pushbullet
Comment[nb] = An indicator for working with pushbullet
Comment[zh_CN] = An indicator for working with pushbullet
Comment[de] = An indicator for working with pushbullet
Comment[ro] = An indicator for working with pushbullet
